# App
APP_NAME=go-service-template
ENV=local

# Logger
LOG_LEVEL=debug

# Redis Configuration
REDIS_HOST=localhost:6379

# OpenTelemetry Configuration (set OTEL_ENABLED=true when Jaeger is running)
OTEL_ENABLED=false
OTLP_ENDPOINT=localhost:4317
